<div class="box box-info box-body">
    {{ form_start(form, {'attr': {'class': 'form-horizontall'}}) }}
    {{ form_widget(form, {'attr': {'class': 'blox-body'}}) }}

    <div class="box-footer">
        <a href="{{ path('restaurant_budget', {'id': restaurant.id}) }}" class="btn btn-default">{{ 'form.cancel'|trans }}</a>
        <button type="submit" class="btn {{ btn.class }} pull-right">{{ btn.name|trans }}</button>
    </div>
    {{ form_end(form) }}
</div>
