<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left info">
                <p class="text-blue text-uppercase">{{ app.user.username }}</p>
                {% set userRole = 'ROLE_USERS' %}
                {% if app.user.accessRole|default() %}
                    {% set userRole = app.user.accessRole %}
                {% else %}
                    {% if app.user.roles.0|default(false) %}
                        {% set userRole = app.user.roles.0 %}
                    {% endif %}
                {% endif %}

                <!-- Status -->
                <p class="text-gray">
                    <i class="fa fa-circle {{ (userRole ~ '-color')|trans }}"></i> {{ (userRole ~ '-text')|trans }}
                </p>

            </div>
        </div>

        {% if is_granted('ROLE_SUPERVISOR') %}
            <!-- Sidebar Menu -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header text-uppercase">
                    <span class="text-danger">{{ 'menu.administrator'|trans }}</span>
                </li>
                <li{% if 'administrator.users' in currentMenuActive|default([]) %} class="active"{% endif %}>
                    <a href="{{ path('user_list') }}" title="{{ 'menu.administrator.users'|trans }}">
                        <i class="fa fa-users"></i> <span>{{ 'menu.administrator.users'|trans }}</span>
                    </a>
                </li>
                <li{% if 'administrator.restaurants' in currentMenuActive|default([]) %} class="active"{% endif %}>
                    <a href="{{ path('restaurant_list') }}" title="{{ 'menu.administrator.restaurants'|trans }}">
                        <i class="fa fa-cutlery"></i> <span>{{ 'menu.administrator.restaurants'|trans }}</span>
                    </a>
                </li>
            </ul>
            <!-- /.sidebar-menu -->
        {% endif %}

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header text-uppercase ">{{ 'menu.restaurants'|trans }}</li>
            {% if restaurants|default([]) %}
                {% for restaurant in restaurants %}
                    <li class="treeview{% if 'menu.restaurant.' ~ restaurant.id in currentMenuActive|default([]) %} menu-open{% endif %}">
                        <a href="{{ path('restaurant_view', {'id': restaurant.id}) }}" title="{{ 'menu.restaurants'|trans }}" id="restaurant-menu-{{ restaurant.identifier }}">
                            <i class="fa fa-folder"></i> <span>{{ restaurant.name }}</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>

                        <ul class="treeview-menu"{% if 'menu.restaurant.' ~ restaurant.id in currentMenuActive|default([]) %} style="display: block"{% endif %}>
                            <li{% if currentMenuActive|default([])|length == 1 and 'menu.restaurant.' ~ restaurant.id in currentMenuActive|default([]) %} class="active"{% endif %}>
                                <a href="{{ path('restaurant_view', {'id': restaurant.id}) }}" id="restaurant-view-{{ restaurant.identifier }}">
                                    <i class="fa fa-eye"></i> <span>{{ 'menu.restaurant.view'|trans }}</span>
                                </a>
                            </li>
                            <li{% if 'menu.restaurant.' ~ restaurant.id ~ '.budget' in currentMenuActive|default([]) %} class="active"{% endif %}>
                                <a href="{{ path('restaurant_budgets', {'id': restaurant.id}) }}" id="restaurant-budget-{{ restaurant.identifier }}">
                                    <i class="fa fa-balance-scale"></i> <span>{{ 'menu.restaurant.budget'|trans }}</span>
                                </a>
                            </li>

                            <li{% if 'menu.restaurant.' ~ restaurant.id ~ '.daily_sales' in currentMenuActive|default([]) %} class="active"{% endif %}>
                                <a href="{{ path('restaurant_daily_sales', {'id': restaurant.id}) }}" id="restaurant-sales-{{ restaurant.identifier }}">
                                    <i class="fa fa-calculator"></i> <span>{{ 'menu.restaurant.daily_sales'|trans }}</span>
                                </a>
                            </li>

                            <li{% if 'menu.restaurant.' ~ restaurant.id ~ '.track_dailysales' in currentMenuActive|default([]) %} class="active"{% endif %}>
                                <a href="{{ path('restaurant_track_dailysales', {'id': restaurant.id}) }}" id="restaurant-track-dailysales-{{ restaurant.identifier }}">
                                    <i class="fa fa-area-chart"></i> <span>{{ 'menu.restaurant.track_dailysales'|trans }}</span>
                                </a>
                            </li>
                        </ul>

                    </li>
                {% endfor %}
            {% endif %}
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>