{% extends 'layout/base.html.twig' %}

{% block title %}{{ 'user.new.page_title'|trans }}{% endblock %}

{% block page_header %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ 'header.users'|trans }}
            <small>{{ 'header.users.optional'|trans }}</small>
        </h1>
        {{ include('layout/parts/breadcrumb.html.twig', {'page': 'menu.users'|trans}) }}
    </section>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-lg-4 col-md-8 col-sm-12">
                {{ form_start(form) }}

                {{ form_widget(form) }}
                <button type="submit" class="btn btn-success">{{ 'user.edit.create_button'|trans }}</button>

                {{ form_end(form) }}
            </div>
        </div>

    </section>
    <!-- /.content -->

{% endblock %}