{% extends 'layout/base.html.twig' %}

{% block title %}{{ 'user.edit.page_title'|trans }}{% endblock %}

{% block page_header %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ 'header.users'|trans }}
            <small>{{ 'header.users.optional'|trans }}</small>
        </h1>
        {{ include('layout/parts/breadcrumb.html.twig',
            {'pages': [
                {
                    'title': 'menu.users'|trans,
                    'href': path('user_list')
                },
                {
                    'title': 'user.edit.page_title'|trans
                }
            ]
            })
        }}
    </section>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                {{ include('users/_form.html.twig', {'btn': {'class': 'btn-success', 'name': 'user.edit.create_button'}}) }}
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}