{% extends 'layout/base.html.twig' %}

{% block title %}{{ 'user.edit.page_title'|trans }}{% endblock %}

{% block page_header %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ 'header.users'|trans }}
            <small>{{ 'header.users.optional'|trans }}</small>
        </h1>
        {{ include('layout/parts/breadcrumb.html.twig', {'page': 'menu.users'|trans}) }}
    </section>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-lg-8 col-md-10 col-sm-12">
                {{ include('users/_form.html.twig', {'btn': {'class': 'btn-success', 'name': 'user.edit.create_button'}}) }}
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}