{% extends 'layout/base.html.twig' %}

{% block title %}{{ 'users.page_title'|trans }}{% endblock %}

{% block page_header %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ 'header.users'|trans }}
            <small>{{ 'header.users.optional'|trans }}</small>
        </h1>
        {{ include('layout/parts/breadcrumb.html.twig',
            {'pages': [
                {'title': 'menu.users'|trans}
            ]
            })
        }}
    </section>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">{{ 'users.list.table_header'|trans }}</h3>

                        {#<div class="box-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>#}
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        {% if user_list %}
                            <table class="table table-responsive table-hover">
                                <tr>
                                    <th class="col-lg-2">{{ 'users.list.table.id'|trans }}</th>
                                    <th class="col-lg-3">{{ 'users.list.table.username'|trans }}</th>
                                    <th >{{ 'users.list.table.restaurants'|trans }}</th>
                                    <th >{{ 'users.list.table.accessRole'|trans }}</th>
                                    <th class="col-lg-1">{{ 'users.list.table.actions'|trans }}</th>
                                </tr>
                                {% for user in user_list %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('user_profile', {'id': user.id}) }}" class="show-user">{{ user.id }}</a>
                                        </td>
                                        <td>
                                            <a href="{{ path('user_profile', {'id': user.id}) }}">{{ user.username }}</a>
                                        </td>
                                        <td>
                                            {% for restaurant in user.restaurants %}
                                                {{ restaurant.name }}{% if not loop.last %}, {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {{ (user.accessRole ~ '-text')|trans }}
                                        </td>
                                        <td class="align-right">
                                            <a href="{{ path('user_profile', {'id': user.id}) }}" class="btn btn-flat btn-info" id="edit-user-{{ user.username }}"><li class="fa fa-edit"></li></a>

                                            <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#modal-danger-{{ user.id }}" id="remove-user-{{ user.username }}">
                                                <li class="fa fa-remove"></li>
                                            </a>

                                            {#<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-danger-{{ user.id }}" id="remove-user-{{ user.username }}">
                                                <li class="fa fa-remove"></li>
                                            </button>#}

                                            <div class="modal modal-danger fade" id="modal-danger-{{ user.id }}" style="display: none;">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                            <h4 class="modal-title">{{ 'modal.delete.title'|trans }}</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>{{ 'modal.delete.message'|trans }}</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">{{ 'modal.close'|trans }}</button>
                                                            <a href="{{ path('user_delete', {'id': user.id}) }}" class="btn btn-outline">{{ 'modal.delete.confirm'|trans }}</a>
                                                        </div>
                                                    </div>
                                                    <!-- /.modal-content -->
                                                </div>
                                                <!-- /.modal-dialog -->
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% else %}
                        <table class="table table-hover">
                            <tr>
                                <td>
                                    <p>{{ 'users.list.empty'|trans }}</p>
                                </td>
                            </tr>
                        </table>
                        {% endif %}

                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <a href="{{ path('user_new') }}" class="btn btn-success">{{ 'users.create_new'|trans }}</a>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->

{% endblock %}