{% extends 'layout.html.twig' %}

{% block body_class %}hold-transition skin-blue sidebar-mini{% endblock %}
{% block wrapper_class %}wrapper{% endblock %}

{% block body %}
    {% if app.user or true %}
        {{ include('layout/parts/header.html.twig') }}
        {{ include('layout/parts/sidebar.html.twig') }}
    {% endif %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Page Header
                <small>Optional description</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
            </ol>
        </section>

        {{ include('layout/parts/callout.html.twig') }}

        <!-- Main content -->
        <section class="content container-fluid">
            {% block content %}{% endblock %}
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
            Anything you want
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
    </footer>

    {{ include('layout/parts/control_sidebar.html.twig') }}
{% endblock %}

{% block javascripts %}
<!-- AdminLTE App -->
<script src="{{ asset('dist/js/adminlte.min.js') }}"></script>
{% endblock%}
