{% extends 'layout/base.html.twig' %}

{% form_theme form _self %}

{%- block form_row -%}
    <div class="col-md-2">
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}
    </div>
{%- endblock form_row -%}

{% block title %}{{ 'supervisor.market_rank.page_title'|trans }}{% endblock %}

{% block page_header %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ 'header.supervisor.market_rank.title'|trans }}
            <small>{{ 'header.supervisor.market_rank.optional'|trans }}</small>
        </h1>
        {{ include('layout/parts/breadcrumb.html.twig',
            {'pages': [
                {
                    'title': 'supervisor.market_rank.page_title'|trans
                }
            ]
            })
        }}
    </section>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                {{ include('parts/navigator.html.twig', {'navigation': navigation|default([])}) }}

                <div class="box box-info">
                    {{ form_start(form) }}
                        <div class="box-header">
                            <h3 class="box-title">{{ 'supervisor.market_rank.table_header'|trans }}</h3>
                        </div>
                        <!-- /.box-header -->

                        <!-- .box-body -->
                        <div class="box-body">
                            {{ form_row(form.annual) }}
                        </div>
                        <!-- /.box-body -->

                        <hr>

                        <!-- .box-body -->
                        <div class="box-body">
                            {{ form_label(form.monthly) }}
                            <hr class="no-border">
                            {% for month in form.monthly %}
                                {{ form_row(month) }}
                            {% endfor %}
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary pull-right">{{ 'supervisor.market_rank.edit.create_button'|trans }}</button>
                        </div>
                    {{ form_end(form) }}
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}

