<div class="col-md-{{ colWidth|default(10) }}">
    <div class="box box-primary">
        <div class="box-header">
            <h3>{{ 'restaurant.view.budget'|trans }}</h3>
        </div>
        <div class="box-body with-border">
            {% if annualBudgets|default([]) %}
                {% set currentYear = 'now'|date('Y') %}
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        {% for year, budget in annualBudgets %}
                            <li{% if loop.last %} class="active"{% endif %}>
                                <a href="#{{ year }}" data-toggle="tab" aria-expanded="true">{{ year }}</a>
                            </li>
                        {% endfor %}
                    </ul>

                    <div class="tab-content">
                        {% for year, budget in annualBudgets%}
                            <div class="tab-pane{% if loop.last %} active{% endif %}" id="{{ year }}">
                                <table class="table table-bordered text-center" style="width: 100%">
                                    <tbody>
                                        <tr>
                                            <th style="width: 40px">#</th>
                                            <th style="width: 20%">{{ 'restaurant.budget.month'|trans }}</th>
                                            <th style="width: 20%">{{ 'restaurant.budget.budget'|trans }}</th>
                                            <th style="width: 20%">{{ 'restaurant.budget.realized'|trans }}</th>
                                            <th>{{ 'restaurant.budget.progress'|trans }}</th>
                                            <th style="width: 70px">{{ 'restaurant.budget.percent'|trans }}</th>
                                        </tr>
                                        {% for month, datas in budget.months %}
                                            <tr>
                                                <td>{{ loop.index }}</td>
                                                <td>{{ ('month-' ~ month)|trans }}</td>
                                                <td>{{ datas.budgeted|number_format(0, ' ', ' ') }} &euro;</td>
                                                <td class="{{ 'text-' ~ datas.percent_color }}"><b>{{ datas.realized|number_format(0, ' ', ' ') }} &euro;</b></td>
                                                <td>
                                                    <div class="progress progress-xs">
                                                        <div class="progress-bar progress-bar-{{ datas.progress_color }}" style="width: {{ datas.percent }}%"></div>
                                                    </div>
                                                </td>
                                                <td class="text-right">
                                                    <span class="badge bg-{{ datas.percent_color }}">{{ datas.percent }}%</span>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>

                                    <tfoot>
                                        <tr>
                                            <td colspan="2">
                                                <b>{{ 'restaurant.budget.total'|trans }}</b>
                                            </td>
                                            <td>
                                                <b>{{ budget.total_budget|number_format(0, ' ', ' ') }} &euro;</b>
                                            </td>
                                            <td>
                                                <b>{{ budget.total_realized|number_format(0, ' ', ' ') }} &euro;</b><br>
                                                <span class="badge bg-{{ budget.total_progress_color }}">{{ budget.total_progress }}%</span>
                                            </td>
                                            <td>
                                                <div class="progress progress-xs">
                                                    <div class="progress-bar progress-bar-{{ budget.total_progress_color }}" style="width: {{ budget.total_progress }}%"></div>
                                                </div>
                                            </td>
                                            <td class="text-right">
                                                <span class="badge bg-{{ budget.total_percent_color }}">{{ budget.total_progress }}%</span>
                                            </td>
                                        </tr>
                                        {% if showEdit|default(false) %}
                                            <tr>
                                                <td colspan="6">
                                                    <a href="{{ path('restaurant_budget_edit', {'id': budget.id}) }}" class="btn btn-success pull-right">Modifier</a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    </tfoot>
                                </table>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>