<div class="box box-info box-body">
    <table class="table table-bordered text-center">
        <tr class="bg-gray-active">
            <th>{{ 'track.dailysales.dayname'|trans }}</th>
            <th>{{ 'track.dailysales.date'|trans }}</th>
            <th>{{ 'track.dailysales.precedent_sales'|trans({'pYear': pYear, 'cYear': cYear}) }}</th>
            <th>{{ 'track.dailysales.current_budget'|trans({'pYear': pYear, 'cYear': cYear}) }}</th>
            <th>{{ 'track.dailysales.ratio_cbudget_psales'|trans({'pYear': pYear, 'cYear': cYear}) }}</th>
            <th>{{ 'track.dailysales.current_sales'|trans({'pYear': pYear, 'cYear': cYear}) }}</th>
            <th>{{ 'track.dailysales.ratio_csales_cbudget'|trans({'pYear': pYear, 'cYear': cYear}) }}</th>
            <th>{{ 'track.dailysales.ratio_csales_psales'|trans({'pYear': pYear, 'cYear': cYear}) }}</th>
        </tr>

        {% for element in elements.items %}
            <tr>
                <td>{{ element.dayname|trans }}</td>
                <td>{{ element.date }}</td>
                <td>{{ element.precedent_sales|raw }}</td>
                <td>{{ element.current_budget|number_format(0, '.', ' ') }} &euro;</td>
                <td{# class="text-{{ element.ratio_cbudget_psales > 0 ? 'green': 'red' }}"#}>{{ element.ratio_cbudget_psales|number_format(2, '.', ' ') }} %</td>
                <td{{ element.current_sales > element.current_budget ? ' class="bg-success"' }}>{{ element.current_sales|number_format(0, '.', ' ') }} &euro;</td>
                <td{# class="text-{{ element.ratio_csales_cbudget > 0 ? 'green': 'red' }}"#}>{{ element.ratio_csales_cbudget|number_format(2, '.', ' ') }} %</td>
                <td{# class="text-{{ element.ratio_csales_psales > 0 ? 'green': 'red' }}"#}>{{ element.ratio_csales_psales|number_format(2, '.', ' ') }} %</td>
            </tr>
        {% endfor %}
    </table>

    <div class="box-footer">
        <table class="table table-bordered text-center">
            <tr class="bg-gray-active">
                <th>{{ 'track.dailysales.total_precedent_sales'|trans({'pYear': pYear, 'cYear': cYear}) }}</th>
                <th>{{ 'track.dailysales.total_daily_current_budget'|trans({'pYear': pYear, 'cYear': cYear}) }}</th>
                <th>{{ 'track.dailysales.total_current_sales'|trans({'pYear': pYear, 'cYear': cYear}) }}</th>
                <th>{{ 'track.dailysales.total_current_budget'|trans({'pYear': pYear, 'cYear': cYear}) }}</th>
                <th>{{ 'track.dailysales.total_year_to_date'|trans({'pYear': pYear, 'cYear': cYear}) }}</th>
            </tr>
            <tr>
                <td{{ elements.total.precedentCA.progression < 0 ? ' class="text-red"' }}>
                    {{ elements.total.precedentCA.value|number_format(0, '.', ' ') }} &euro;<br>
                    <span>{{ elements.total.precedentCA.progression|number_format(2, '.', ' ') }} %</span>
                </td>
                <td{{ elements.total.cumul_daily_budget.progression < 0 ? ' class="text-red"' }}>
                    {{ elements.total.cumul_daily_budget.value|number_format(0, '.', ' ') }} &euro;<br>
                    <span>{{ elements.total.cumul_daily_budget.progression|number_format(2, '.', ' ') }} %</span>
                </td>
                <td{{ elements.total.currentCA.progression < 0 ? ' class="text-red"' }}>
                    {{ elements.total.currentCA.value|number_format(0, '.', ' ') }} &euro;<br>
                    <span>{{ elements.total.currentCA.progression|number_format(2, '.', ' ') }} %</span>
                </td>
                <td>
                    <div class="box-body bg-yellow">{{ elements.total.budget.value|number_format(0, '.', ' ') }} &euro;</div>
                </td>
                <td{{ elements.total.futureCA.progression < 0 ? ' class="text-red"' }}>
                    {{ elements.total.futureCA.value|number_format(0, '.', ' ') }} &euro;<br>
                    <span>{{ elements.total.futureCA.progression|number_format(2, '.', ' ') }} %</span>
                    {% if elements.total.futureCA.progression_supp|default(false) %}
                        <i>&nbsp;({{ elements.total.futureCA.progression_supp|number_format(0, '.', ' ') }} &euro;)</i>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
</div>