<div class="box box-info box-body">
    <table class="table table-bordered text-center">
        <tr>
            <th style="width: 90px">{{ 'track.weeklysales.week'|trans }}</th>
            <th>{{ 'track.weeklysales.year'|trans({'year': pYear3}) }}</th>
            <th>{{ 'track.weeklysales.year'|trans({'year': pYear2}) }}</th>
            <th>{{ 'track.weeklysales.ratio'|trans }}</th>
            <th>{{ 'track.weeklysales.year'|trans({'year': pYear1}) }}</th>
            <th>{{ 'track.weeklysales.ratio'|trans }}</th>
            <th>{{ 'track.weeklysales.year'|trans({'year': cYear}) }}</th>
            <th>{{ 'track.weeklysales.ratio'|trans }}</th>
            <th>{{ 'track.weeklysales.SE'|trans }}</th>
            <th>{{ 'track.weeklysales.ratio_SE'|trans }}</th>
            <th>{{ 'track.weeklysales.ratio2'|trans }}</th>
        </tr>

        {% for element in elements.items %}
            <tr>
                <td>{{ element.week }}</td>
                <td>{{ element.year3|number_format(0, '.', ' ') }} &euro;</td>
                <td>{{ element.year2|number_format(0, '.', ' ') }} &euro;</td>
                <td>{{ element.ratio_year3_year2|number_format(2, '.', ' ') }} %</td>
                <td>{{ element.year1|number_format(0, '.', ' ') }} &euro;</td>
                <td>{{ element.ratio_year2_year1|number_format(2, '.', ' ') }} %</td>
                <td>{{ element.year|number_format(0, '.', ' ') }} &euro;</td>
                <td>{{ element.ratio_year1_year|number_format(2, '.', ' ') }} %</td>
                <td>{{ element.SE|number_format(2, '.', ' ') }} %</td>
                <td>{{ element.ratio_year_SE|number_format(2, '.', ' ') }}</td>
                <td>{{ element.ratio_year2_year|number_format(2, '.', ' ') }} %</td>
            </tr>
        {% endfor %}
    </table>
</div>