{% extends 'layout/base.html.twig' %}

{% block title %}{{ 'restaurant.budget.page_title'|trans }}{% endblock %}

{% block page_header %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ 'header.restaurant.budget.title'|trans }}
            <small>{{ restaurant.name|upper }}</small>
        </h1>
        {{ include('layout/parts/breadcrumb.html.twig',
            {'pages': [
                {
                    'title': restaurant.name,
                    'href': path('restaurant_view', {'id': restaurant.id})
                },
                {
                    'title': 'restaurant.budget.page_title'|trans
                }
            ]
            })
        }}
    </section>
{% endblock %}

{% block content %}
    {% set budgetListColWidth = 12 %}
    {% set nextYear = 'now'|date('Y') + 1 %}

    {% if nextYear not in annualBudgets|keys %}
        {% set budgetListColWidth = 10 %}
        <div class="col-md-2 pull-right">
            <div class="box box-primary">
                <div class="box-footer with-border text-center">
                    <a href="{{ path('restaurant_budget_new', {'id': restaurant.id, 'year': nextYear}) }}" class="btn btn-success">{{ 'restaurant.create.budget.year'|trans({'%year%': nextYear})|raw }}</a>
                </div>
            </div>
        </div>
    {% endif %}

    {{ include('widgets/annual_budget_list.html.twig', {'annualBudgets': annualBudgets|default([]), 'colWidth': budgetListColWidth, 'showEdit': true, 'year': year}) }}
{% endblock %}