{% extends 'layout/base.html.twig' %}

{% block title %}{{ 'restaurant.daily_sales.page_title'|trans }}{% endblock %}

{% block page_header %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ restaurant.name|upper }}
            <small>{{ 'header.restaurant.daily_sales.optional'|trans }}</small>
        </h1>
        {{ include('layout/parts/breadcrumb.html.twig',
            {'pages': [
                {
                    'title': restaurant.name,
                    'href': path('restaurant_view', {'id': restaurant.id})
                },
                {
                    'title': 'restaurant.daily_sales.page_title'|trans
                }
            ]
            })
        }}
    </section>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                {{ include('parts/navigator.html.twig', navigation|default([])) }}
                {{ include('dailysales/_form.html.twig', {'btn': {'class': 'btn-success', 'name': 'restaurant.daily_sales.edit.create_button'}}) }}
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}