{% extends 'layout/base.html.twig' %}

{% block title %}{{ 'restaurant.view.page_title'|trans }}{% endblock %}

{% block page_header %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ restaurant.name|upper }}
            <small>{{ 'header.restaurant.view.optional'|trans }}</small>
        </h1>
        {{ include('layout/parts/breadcrumb.html.twig',
            {'pages': [
                {
                    'title': restaurant.name,
                }
            ]
            })
        }}
    </section>
{% endblock %}

{% block content %}
    {{ include('widgets/annual_budget_list.html.twig', {'annualBudgets': annualBudgets|default([]), 'colWidth': 12, 'showEdit': false}) }}
{% endblock %}